<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
		<br/>
		 <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
		</ion-toolbar>
</ion-header>

<ion-content>
  <br/><br/>
  
<ion-list>
<ion-item *ngFor="let d of devedor">
	<ion-label>
	 <h2><strong>{{d.DevNome}}</strong></h2> 
	  <h4><strong>Telefone:</strong> {{d.DevTel}}</h4>
	  <h4><strong>Endereço: </strong> {{d.DevEndereco}}</h4>
	  <h4><strong>Valor da dívida: </strong>{{d.DevValor}}</h4>
	  <h4><strong>Motivo da dívida: </strong>{{d.DevReason}}</h4>
	  <h4><strong>Data da dívida: </strong> {{d.DevDateDi}}</h4>
	  <h4><strong>Data de pagamento da dívida: </strong> {{d.DevDataP}}</h4>
	  <h4><strong>Desculpa: </strong> {{d.DevDesc}}</h4>
	  <h4><strong>Outros dados: </strong> {{d.DevOthers}}</h4>
	  <div class="dados-icone">
	  	<ion-icon name="trash" (click)="deleteDevedor(d.DevNome)"></ion-icon>
	  </div>
	</ion-label>
</ion-item>

</ion-list>



</ion-content>




  