<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
		<br/>
		<ion-avatar slot="end">
			<img src="https://randomuser.me/api/portraits/men/72.jpg"></ion-avatar>
		</ion-toolbar>
</ion-header>

<ion-content>
  <br/><br/><br/><br/>
<div class="ion-text-center">
  Kaique Mauque, deve desde tal dia, pediu emprestado

<br/><br/><br/><br/>
  <ion-button routerLink="cadastrodevedores">Gerar relatório da dívida</ion-button>
</div>
</ion-content>
