
<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
		<br/>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-text color="secundary">

		<div style="text-align:center">
			<strong>
				<h1>Meus devedores</h1>
			</strong>
		</div>
		<br/>
		<div class="ion-text-center" style="background-image:url(https://image.freepik.com/fotos-gratis/corpo-da-camisa-de-aumento-de-olho-engracado_1187-4854.jpg?1)">

			<br/><br/>

			<ion-button class="consulta" routerLink="dados">consultar</ion-button>  
			

			<br/><br/>
      
			<ion-fab vertical="bottom" horizontal="start" slot="fixed">
				<ion-badge>1</ion-badge>
				<ion-fab-button>
					<ion-icon name="notifications" routerLink="lembretes"></ion-icon>
				</ion-fab-button>
			</ion-fab>
   
			<ion-fab vertical="bottom" horizontal="end" slot="fixed">
				<ion-fab-button>
					<ion-icon name="add" routerLink="cadastrodevedores"></ion-icon>
				</ion-fab-button>
			</ion-fab>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			
			<ion-button routerLink="info" ion-icon name="information-circle-outline">Informativos</ion-button>
			
			<br/><br/><br/>

		</div>
	</ion-text>
 

</ion-content>