<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
		<br/>
		<ion-avatar slot="end">
			<img src="https://randomuser.me/api/portraits/men/72.jpg"></ion-avatar>
		</ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="secundary">
    <div class="ion-text-center">
    <br/>
      <strong>Nosso objetivo neste passo é reunir o máximo de dados possível do seu devedor!</strong>

      <br/><br/>
      <ion-badge color="primary">Dados do devedor:</ion-badge>
     
      <ion-item>
        <strong><ion-label position="floating">Nome:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating">Telefone:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating">Endereço:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating">Motivo da dívida: (venda, emprestimo de dinheiro..)</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating">Data da dívida:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong> <ion-label position="floating">Valor da dívida:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>    

      <ion-item>
        <strong> <ion-label position="floating">Primeira data prometida para pagamento:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating">Desculpas dadas pelo devedor até o momento:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <strong> <ion-label position="floating">Digite demais informações importantes:</ion-label></strong>
        <ion-input></ion-input>
      </ion-item>
      
    </div>

    <div class="ion-text-center">
      <br/>
      <ion-button routerLink="/devedores">Cadastrar devedor</ion-button>    
    </div>
    <br/><br/><br/>
 </ion-text>

</ion-content>
