<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
		<br/>
		<ion-avatar slot="end">
			<img src="https://randomuser.me/api/portraits/men/72.jpg"></ion-avatar>
		</ion-toolbar>
</ion-header>

<ion-content>
  <br/>  <br/> <br/> <br/>
<div class="ion-text-center" style="background-image:url(https://image.freepik.com/fotos-gratis/mulher-de-negocios-com-longos-cabelos-castanhos-em-roupas-casuais-segurando-muitas-notas-sobre-o-branco_231208-6417.jpg)">
  <br/>
  <h1>Faça seu login</h1>
 
 <!-- <br/><br/>
  <ion-item>
    <ion-label position="floating">Digite o seu email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br/>

  <ion-item>
    <ion-label position="floating">Digite sua senha</ion-label>
    <ion-input></ion-input>
  </ion-item>-->
  
  
  <div>
    <br />
    <p>Usuário</p>
    <input type="text" name="" placeholder="Insira seu nome de usuário"/>
    <p>Senha</p>
    <input type="password" name="" placeholder="Insira sua senha"/>
    <br />
    <input type="checkbox" checked="checked" name="remember"> Continuar conectado
  
    <br />
      <a href="#">Esqueceu a senha?</a>
      <br />
     
    </div>

    <div class="ion-text-center">
      <br/>
      <ion-button routerLink="/devedores">Login</ion-button>    
    </div>
    <br/><br/>

   <a><strong>Ainda não é cadastrado?</strong></a>
    <br/>
    <ion-button routerLink="/cadusuario">Cadastre-se</ion-button>  
  </div>

</ion-content>
<br/>




