<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
    <br/>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
		</ion-toolbar>
</ion-header>

<ion-content>
  <br/>

  <br/>
  <div class="ion-text-center">
  <strong><h1>Faça seu login</h1></strong>
</div>
  <div class="ion-text-center" style="background-image:url(https://image.freepik.com/fotos-gratis/mulher-de-negocios-com-longos-cabelos-castanhos-em-roupas-casuais-segurando-muitas-notas-sobre-o-branco_231208-6417.jpg)">
   
  
  <div class="ion-text-center">
    <br />
      <ion-item>
      <strong><ion-label class="label">Email:</ion-label></strong>
      <ion-input [(ngModel)]="LoginEmail" type="String"></ion-input>
    </ion-item>

    <ion-item>
      <strong><ion-label class="label">Senha:</ion-label></strong>
      <ion-input [(ngModel)]="LoginSenha" type="password"></ion-input>
    </ion-item> 
  
      <br />
     
    </div>

    <div class="ion-text-center">
      <br/>
      
      <ion-button routerLink="/devedores" class="login" (click)="login()">Login</ion-button>  
    
    </div>
    <br/><br/><br /><br /><br />

   <a><strong>Ainda não é cadastrado?</strong></a>
    <br/><br />
    
    <ion-button routerLink="/cadusuario">Cadastre-se</ion-button>  
  </div>
 
</ion-content>
<br/>