<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          text="buttonText"
          icon="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="patchnotes__container">
    <div class="patchnotes__item" *ngFor="let commit of commits">
      <h2>{{commit.commit.message}}</h2> 
      <h3>Made in: {{commit.commit.author.date}}</h3>
      <span>Author: {{commit.commit.author.name}}</span>
    </div>
  </div>
</ion-content>
