<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
    <br/>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
			</ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="secundary">
    <div class="ion-text-center">
    <br/>
      <strong>Cadastre-se</strong>

      <br/><br/>
      <ion-badge color="primary">Digite os seus dados:</ion-badge>
     
      <ion-item>
        <strong><ion-label position="floating">Nome:</ion-label></strong>
        <ion-input [(ngModel)]="cadUserName" type="String"></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating" >Email:</ion-label></strong>
        <ion-input [(ngModel)]="cadUserEmail" type="String"></ion-input>
      </ion-item>

      <ion-item>
        <strong><ion-label position="floating" type="password">Senha:</ion-label></strong>
        <ion-input [(ngModel)]="cadUserSenha" type="password"></ion-input>
      </ion-item>

     
    </div>

    <div class="ion-text-center">
      <br/>
      <ion-button routerLink="/login" (click)="userCad()">Concluir cadastro</ion-button>    
    </div>
    <br/><br/><br/>
 </ion-text>

</ion-content>
