<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>XôCalote</strong>
		</ion-title>
    <br/>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
			</ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="secundary">
    <div class="ion-text-center">
    <br/>
      <strong>Cadastre-se</strong>

      <br/><br/>
      <ion-badge color="primary">Digite os seus dados:</ion-badge>
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        
        <ion-item class="text-white">
          <strong><ion-label position="floating">
            <ion-icon name="pencil" item-start></ion-icon>
            Nome
          </ion-label></strong>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>
        <div *ngIf="formLogin.controls.nome.errors" class="px-3 text-danger">
          <p *ngIf="formLogin.controls.nome.errors.required"><small>Campo obrigatório</small></p>
          <p *ngIf="formLogin.controls.nome.errors.pattern"><small>Formato inválido</small></p>
        </div>

        <ion-item class="text-white">
          <strong><ion-label position="floating">
            <ion-icon name="mail" item-start></ion-icon>
            E-mail
          </ion-label></strong>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="formLogin.controls.email.errors" class="px-3 text-danger">
          <p *ngIf="formLogin.controls.email.errors.required"><small>Campo obrigatório</small></p>
          <p *ngIf="formLogin.controls.email.errors.pattern"><small>Formato inválido</small></p>
        </div>

        <ion-item class="text-white">
          <strong><ion-label position="floating">
            <ion-icon name="key-outline" item-start></ion-icon>
            Senha
          </ion-label></strong>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="formLogin.controls.email.errors" class="px-3 text-danger">
          <p *ngIf="formLogin.controls.password.errors.required"><small>Campo obrigatório</small></p>
        </div>

        <ion-button routerLink="/login" type="submit" [disabled]="!formLogin.valid">Concluir cadastro</ion-button>
        
        
        
      </form>
     
    </div>

    <div class="ion-text-center">
      <br/>
         
    </div>
    <br/><br/><br/>
 </ion-text>

</ion-content>