<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
      <strong>XôCalote</strong>
    
		</ion-title>
		<br/>
		
		</ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <div class="ion-text-center">
  <strong>Informativos</strong>
</div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Como colocar o nome de alguém no SPC?</ion-card-subtitle>
      <strong><ion-card-title>O que é preciso para colocar o nome de alguém no SPC?</ion-card-title></strong>
    </ion-card-header>
  
    <ion-card-content>
      O SPC serve para proteger as empresas e comerciantes da inadimplência de clientes. Caso algum consumidor esteja devendo para você, é possível negativá-lo ao colocar seu nome nos órgãos de proteção ao crédito. 
No entanto, quem é comerciante ou empresário, precisa entender como funciona a negativação e estar atento a alguns passos essenciais desse processo. Por isso, neste artigo vamos trazer todas essas informações e cuidados que você precisa ter antes de incluir o nome de um cliente no SPC.
Você precisa ter algumas informações básicas do cliente antes de inseri-lo no Serviço de Proteção ao Crédito. Confira quais são elas: 
Data da compra, valor da dívida, data de vencimento da dívida, nome completo do cliente, CPF endereço.
Mesmo que a legislação permita a inclusão do consumidor no dia seguinte do vencimento da dívida, o recomendado é esperar no mínimo 30 dias para a inclusão do nome do cliente no SPC. Lembre-se: é fundamental cobrá-lo, informá-lo e tentar negociar antes da negativação. 

fonte:https://www.foregon.com/blog/como-colocar-o-nome-de-alguem-no-spc/
    </ion-card-content>
  </ion-card>

  <ion-item href="https://andrebona.com.br/como-cobrar-uma-divida-de-alguem-que-esta-lhe-devendo/" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <strong><ion-label>Matéria: "Como cobrar alguém com educação"</ion-label></strong>
  </ion-item>
</ion-content>
