<ion-header>
	<ion-toolbar color="primary">
	  <br />
	  <ion-title>
		<strong>XôCalote</strong>
	  </ion-title>
	  <br />
	  <!--<ion-avatar slot="end">
			  <img src="https://image.freepik.com/fotos-gratis/mealheiro-rosa-praia-viagens-ferias-poupanca-oculos-de-sol_1101-2839.jpg"></ion-avatar>-->
	</ion-toolbar>
  </ion-header>
  
  <ion-content>
	<br /><br />
	<ion-text color="secundary">
	  <div class="ion-text-center">
		<strong
		  ><ion-text color="black"
			>Está difícil controlar seus devedores?</ion-text
		  ></strong
		>
  
		<br /><br />
		<img
		  src="https://image.freepik.com/fotos-gratis/jovem-empresario-atravessa-dolares-e-dancas-na-rua_8353-7191.jpg"
		/>
	  </div>
  
	  <div class="ion-text-center">
		<br />
		<strong
		  ><ion-text color="black"
			>Só não vai gostar deste aplicativo quem não quer te pagar</ion-text
		  ></strong
		>
		<br /><br /><br /><br />
		<ion-button routerLink="/login">Vamos lá!</ion-button>
	  </div>
	</ion-text>
  </ion-content>